################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/GeolocationDemo01/GetGeolocationEvent/obj
