################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/GeolocationDemo01/GetGeolocationEvent/obj
/GeolocationDemo01/packages
/GeoLocationProvisioning/GeoLocation/obj/Debug
/GeoLocationProvisioning/GeoLocation/obj/Debug
